body {
    padding: 0 0.05rem;
    font-family: "noto serif", sans-serif;
    background-image: url('images/background-modified.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
}

html {
    max-width: 100%;
}

h1 {
    color: lightgrey;
    margin-right: 100px;
    white-space: nowrap;

}

.photodeprofil:hover {
    transform: scale(1.01);
}

.photodeprofil {
    display: block;      /* Nécessaire pour que les marges automatiques fonctionnent */
    text-align: center;
    transition: transform 0.5s ease;
}

.titreetnavbar {
    color: lightgrey;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background: radial-gradient(circle at center, rgb(83 68 12 / 0.4) 0%, rgb(67 59 41 / 0.85) 100%),
    url('images/background-modified.jpg');
    align-items: center;
    backdrop-filter: blur(2px);
}

.aa {
    color: lightgrey;
    text-decoration: none;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    white-space: nowrap;
}

.aa:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}

.sous-titres {
    color: lightgrey;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 1.2px 1.2px black;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
}

.aboutmeandotherrubrique {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    backdrop-filter: blur(3px);
}

.aboutmeandotherrubrique > article {
    color: lightgrey;
    text-shadow: 2.5px 2.5px black;
    flex: 1;
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 25px;
}

.locmap {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.locmap > article {
    color: lightgrey;
    flex: 1;
    text-shadow: 2px 2px black;
    padding: 20px;
    width: fit-content;
    font-size: 45px;
}

.main_layout {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

#frise_scolarite:hover {
    transform: scale(1.02);
}

#frise_scolarite {
    color: white;
    border-right: 15px solid darkviolet;
    border-bottom: 10px solid blueviolet;
    border-left: 5px solid darkviolet;
    border-top: 0.20rem solid blueviolet;
    border-radius: 50px;
    padding: 20px;
    transition: transform 0.5s ease;
    backdrop-filter: blur(1.5px);
    text-shadow: 2px 2px black;
}

.beautifulgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
    backdrop-filter: blur(2px);
}

.beautifulgrid > article {
    color: lightgrey;
    border-right: 15px solid darkviolet;
    border-bottom: 10px solid blueviolet;
    border-top: 0.20rem solid blueviolet;
    border-left: 5px solid darkviolet;
    border-radius: 50px;
    padding: 20px;
    transition: transform 0.5s ease;
}

.beautifulgrid > article:hover {
    transform: scale(1.07);
}

.phrasedecontact {
    font-size: 20px;
    white-space: initial;
    color: lightgreen;
    text-shadow: 2px 2px black;
}

.socialnetworklayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.socialnetworklayout > article {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.socialnetworklayout article h3 {
    color: darkgreen;
}

.socialnetworklayout article p {
    color: black;
}

footer {
    font-size: 20px;
    text-align: center;
    color: lightgrey;
    text-shadow: 2px 2px black;
}